body{
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}
.Form{
  height: auto;
  position: fixed;
  top: 30px;
  width: 500px;
  text-align: center;
  margin-top:90px;
  margin-left:550px ;
  color: darkblue;
  background-color: silver;
  border-radius: 10px;
  border: 4px solid blue;
}
.list {
  text-align: center;
}

.list ul {
  list-style-type: disc;
  padding-left:30px ;
}

.list li {
  text-align: left;
}
.NavBar{
  height: 740px;
  width: 30px;
  border-top-right-radius: 20px;
  border: 3px solid blueviolet;
  background-color: blue;
}
.NavBar:hover{
  height: 740px;
  width: 90px;
  transition: 120ms;
  border-top-right-radius: 40px;
  border: 4px solid blue;
  background-color: skyblue;
}